*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: "Poppins", sans-serif;}



body{
    background-color: rgb(28,42,69);
}

header{
    display: flex;
    padding: 3rem;
    justify-content: space-around;
    align-items: center;
}

.hd1 a{
    font-size: 1.5rem;
}

.s1{
    max-width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 20%;
}

.s1d1{
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
}

.s1d2 a img{
    width: 40px;
}